h1
{
	color: #00008B;
	text-align: center;
	padding:010px;
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
}
img 
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
}
